@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
    
  }

.swiper-button-next,.swiper-button-prev {
  border-radius: 50%; 
  padding: 10px; 
  right: 10px; 
  @apply text-slate-300 !important
}


.swiper-button-next:hover, 
.swiper-button-prev:hover {
  @apply text-yellow-600 !important

}
.swiper-pagination-bullet {
  background-color: ghostwhite !important;
  border-color: rgb(197, 143, 63);
  border-width: 2px;
  margin: 0px 5px;
  width: 10px !important; 
  height: 10px !important; 
}
