@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
    
  }
  body {
    @apply font-serif

  }
  .swiper-pagination-bullet{
    background-color: green;
  }
 .swiper-pagination-bullet-active{
  background-color: green;
 }
/* Next Button Stili */
.swiper-button-next,.swiper-button-prev {
/* Ok rengi */
  border-radius: 50%; /* Butonun yuvarlak olması */
  padding: 10px; /* Buton iç boşluğu */

  right: 10px; /* Sağdan uzaklık */
  @apply text-slate-300 !important
}

/* Hover Durumunda Stil */
.swiper-button-next:hover, 
.swiper-button-prev:hover {
  @apply text-yellow-600 !important

}
.swiper-pagination-bullet {
  background-color: ghostwhite !important;
  border-color: rgb(197, 143, 63);
  border-width: 2px;
  margin: 0px 5px;
  width: 10px !important;  /* Genişliği arttırın */
  height: 10px !important; /* Yüksekliği arttırın */
}
